

 #img {
  transition: transform 0.4s ease-in-out;
}
 #icon {
  transition: color 0.3s ease-in-out;
  color: black;
}

#img:hover {
  transform: scale(0.9);
} 


#icon {
  color: aliceblue;
  transition: background-color 0.3s ease;
}

 #icon:hover {
  color: red;
} 



.swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.mySwiper{
  margin-bottom: 100px;
}








